.App {
  text-align: center;
  padding: 70px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.users-list ul{
  list-style: none;
}

.users-list ul > li{
  margin-bottom: 20px;
  text-align: left;
}

.users-list ul li{
  text-align: left;
}

.users-list ul li .title{
  font-size: 20px;
}